<% layout("/layouts/boilerplate") %>

<h1>Edit A Listing</h1>

<form method="POST" action="/listings/<%= listing._id %>?_method=PUT" enctype="multipart/form-data">
  <div class="mb-3">
    <label for="title" class="form-label">Title</label>
    <input name="listing[title]" value="<%= listing.title %>" type="text" class="form-control" />
  </div>

  <div class="mb-3">
    <label for="description" class="form-label">Description</label>
    <textarea name="listing[description]" class="form-control"><%= listing.description %></textarea>
  </div>

   <div class="mb-3">
    Original Listing Image<br/>
    <img src="<%=originalImageUrl%>"/>
  </div>
  <div class="mb-3">
   <label for="image" class="form-label">upload Image</label>
   <input name="listing[image]"  type="file" class="form-control" />
 </div>

  <div class="row">
    <div class="mb-3 col-md-4">
      <label for="price" class="form-label">Price</label>
      <input name="listing[price]" value="<%= listing.price %>" type="number" class="form-control" />
    </div>

    <div class="mb-3 col-md-8">
      <label for="country" class="form-label">Country</label>
      <input name="listing[country]" value="<%= listing.country %>" type="text" class="form-control" />
    </div>
  </div>

  <div class="mb-3">
    <label for="location" class="form-label">Location</label>
    <input name="listing[location]" value="<%= listing.location %>" type="text" class="form-control" />
  </div>

  <div class="mb-3">
    <label for="category" class="form-label">Category</label>
    <select name="listing[category]" class="form-control">
      <option value="">Select a category</option>
      <option value="trending" <%= listing.category === 'trending' ? 'selected' : '' %>>Trending</option>
      <option value="rooms" <%= listing.category === 'rooms' ? 'selected' : '' %>>Rooms</option>
      <option value="cities" <%= listing.category === 'cities' ? 'selected' : '' %>>Cities</option>
      <option value="mountains" <%= listing.category === 'mountains' ? 'selected' : '' %>>Mountains</option>
      <option value="castles" <%= listing.category === 'castles' ? 'selected' : '' %>>Castles</option>
      <option value="pool" <%= listing.category === 'pool' ? 'selected' : '' %>>Pool</option>
      <option value="camping" <%= listing.category === 'camping' ? 'selected' : '' %>>Camping</option>
      <option value="farms" <%= listing.category === 'farms' ? 'selected' : '' %>>Farms</option>
      <option value="doms" <%= listing.category === 'doms' ? 'selected' : '' %>>Doms</option>
      <option value="boats" <%= listing.category === 'boats' ? 'selected' : '' %>>Boats</option>
    </select>
  </div>

  <button type="submit" class="btn btn-primary">Update Listing</button>
</form>
